@font-face {
  font-family: Helvetica Neue;
  src: url('./font/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf');
}
html {
  font-family: Helvetica Neue,Helvetica,serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
body {
  width: 100%;
  color: #292929;
  line-height: 1.444em;
}
body, html {
  margin: 0;
  padding: 0;
}
